# --- Python & Environment ---
__pycache__/
*.pyc
venv/
airflow_env/
.env

# --- Data (NEVER commit huge datasets) ---
data/
*.csv
*.parquet
*.pkl

# --- Airflow & Docker Garbage ---
logs/
airflow-worker.pid
airflow-webserver.pid
standalone_admin_password.txt

# --- IDE Settings ---
.vscode/
.idea/
.DS_Store
